###### Exercise 1: Create a Jupyter Notebook

Create a new Jupyter notebook called DataScienceEcosystem.ipynb

###### Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

###### Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong>Objectives:</strong>

<ul>
<li>List of data science languages</li>
<li>List of data science libraries</li>
<li>Table of Data Science tools</li>
<li>Arithmetic Expressions in Python</li>
</ul>

###### Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

<ol>
    <li>Python</li>
    <li>R</li>
    <li>Java</li>
    <li>C/C++</li>
    <li>Javascript</li>
    <li>Scala</li>
</ol>

###### Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

<ol>
    <li>Tensorflow</li>
    <li>NumPy</li>
    <li>Pandas</li>
    <li>Matplotlib</li>
    <li>Keras</li>
    <li>Seaborn</li>
</ol>

###### Exercise 6 - Create a markdown cell with a table of Data Science tools

<table style="width:100%">
  <tr>
    <th>Data Science Tools</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>SAS. It is one of those data science tools which are specifically designed for statistical operation</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Apache Spark</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>BigML</td>
    <td></td>
    <td></td>
  </tr>
</table>

###### Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [16]:
#Arithmetic Expressions in Python

a=13
b=23
sum=a+b
print(sum)

36

In [10]:
a=4
print("square root of a is ",a**(0.5))

square root of a is  2.0

###### Exercise 8 - Create a code cell to multiply and add numbers

In [12]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5
# Result: 17

17

###### Exercise 9 - Create a code cell to convert minutes to hours

In [15]:
#This will convert 200 minutes to hours by diving by 60


time=200 # in minutes
#1hr = 60 mins

hrs= time/60
print("Time in hours is: ",hrs)

Time in hours is:  3.3333333333333335

###### Exercise 10 - Insert a markdown cell to list Objectives
Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

###### Exercise 11 - Create a markdown cell to indicate the Author's name

## Author: Sayan Chattopadhyay